.container{
    margin: 0 0;
    padding: 0 0;
    margin-bottom: 40px;
}

.backarrow{
    margin:20px 20px;
}

.profile_detail img{
    margin-top: 2%;
    width: 15%;
    border-radius: 60%;
    border: 2px solid white;
    margin-left: 42%;
}

.membername{
    color: white;
    text-align: center;
    margin-top: 2%;
    font-size: 20px;
    margin-bottom: 1%;
}

hr{
    width: 60%;
    border: 2px solid white;
    background-color: white;
    margin-left: 18.5%;
}

.edit-button{
    margin-top: 10px;
    width: 60%;
    padding:5px;
    color:black;
    background-color: yellow;
    font-weight: bold;
    margin-left: 18.5%;
}

.info-container{
    display: table;
    width: 100%;
    color: white;
    padding: 20px;
    margin-left: 18.5%;
}

.textsss{
    display: table-row;
    height: 100px;
}

.x{
    width:50%;
    display: table-cell;
}

.y{
    display: table-cell;
}