.choose_instance{
    display:flex;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 20px;
    padding: 1%;
}

.choose_instance label{
    padding-left: 3%;
    color: wheat;
    margin-right: 10px;
}

.choose_instance select{
    text-align: center;
    display:flex;
    padding: 4px;
}

.total_spent{
    background-color: white;
    margin-top: 2%;
    padding:1%;
    margin-left: 65px;
    margin-right: 65px;
    border-radius: 10px;
}

.check_spent{
    display:flex;
    position:relative;
}

.check_spent p{
    margin-left: auto;
    margin-right: auto;
    font-size: 35px;
    font-weight: bold;
}

.cost_spent{
    display:flex;
    position:relative;
}

.cost_spent p{
    font-size: 28px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}
