.clickbutton{
  display: block;
  position:relative;
  margin: 4%;
}

.btnadd{
  background: #f1356d;
  color:#ffff;
  padding: 2%;
  border-radius: 8px;
  cursor:pointer;
}

.cancelbtn{
  background: #f1356d;
  color:#ffff;
  padding: 2%;
  border-radius: 8px;
  cursor:pointer;
  margin-left: 1%;
}