table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 8%;
    background-color: #dddddd;
  }
  
  td, th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    text-align: center;
  }