
.title{
  color: white;
  font-size: 35px;
  text-align: center;
  margin-top: 2%;
  font-family:sans-serif;
  font-weight: bold;
}

.icon{
  margin-left: auto;
  margin-right: auto;
  width: 480px;
  margin-top: 5%;
}

.sentenses{
  text-align: center;
  margin-top: 1%;
  color: grey;
  font-weight: bold;
  font-size: 20px;
}

.logintable{
  margin-top: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input-container label{
  color:white;
  font-size: 18px;
  text-align: left;
}

.input-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.logintable input[type="text"],
.logintable input[type="password"] {
  height: 50px;
  text-align: left;
  border-radius: 8px;
  padding: 10px;
  margin-top: 10px;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 18px;
  background: yellow;
  border-radius: 5px;
  color: black;
  padding: 8px 200px;
  font-weight: bold;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

.registerlink{
  text-align: center;
  color: white;
  font-size: 12px;
  margin-top: 12px;
}

.registerlink a{
  color: yellow;
  cursor: pointer;
}

.registerlink a:hover{
  color:#6cf0c2;
}

.error {
  color: red;
  font-size: 15px;
}